<h2>変動費科目の詳細</h2>

<%= link_to "編集", [:edit, @variable_cost] %>
<%= link_to "変動費科目一覧へ戻る", variable_costs_path %>

<table>

  <tr>
    <th>名称</th>
    <td><%= @variable_cost.name %></td>
  </tr>

  <tr>
    <th>説明</th>
    <td><%= @variable_cost.description %></td>
  </tr>
</table>