<h2>固定費科目の詳細</h2>

<%= link_to "編集", [:edit, @fixed_cost] %>
<%= link_to "固定費科目一覧へ戻る", fixed_costs_path %>

<table>

  <tr>
    <th>名称</th>
    <td><%= @fixed_cost.name %></td>
  </tr>

  <tr>
    <th>説明</th>
    <td><%= @fixed_cost.description %></td>
  </tr>
</table>